@charset "utf-8";
.title{
    color: #3A2AAA;
    font-size: xx-large;
    text-align: center;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}

.main1{
    color: #478DC0;
}

#caption img{
    -webkit-box-shadow: 20px 15px 5pt #9257B0;
    box-shadow: 20px 15px 5pt #9257B0;
}